/vendor/
/node_modules
/database
/api
.env
.env.example
.ftpquota
.htaccess
.user.ini
ajax.php
api.php
compose.php
composer.json
composer.lock
database.php
global_call.php
global_mail.php
head_donate.php
router.php
routes.php